.file_list{
    margin: 40px 0;
}

.file_list_header{
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    border-bottom: 3px solid royalblue;
    padding-bottom: 20px;
}

.file_list_name{
    grid-column-start: 2;
}

.file_list_data{
    grid-column-start: 5;
    justify-self: center;
}

.file_list_size{
    grid-column-start: 6;
    justify-self: center;
}

.item-enter-active{
   animation: item-enter 500ms forwards;
}

@keyframes item-enter {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.no_file_title{
    font-size: 60px;
    font-weight: 700;
    opacity: 0.1;
}

.file_block{
    display: flex;
    margin: 40px 0;
    flex-wrap: wrap;

}
