
.navbar{
    display: flex;
    height: 70px;
    background-color: white;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.navbar_header{
    margin-left: 5px;
    font-size: 24px;
    font-weight: 700;
}
.navbar_login{
    margin-left: auto;
    margin-right: 20px;
    margin-right: 20px;
    padding: 6px 20px;
    border: 2px solid royalblue;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: royalblue;
}

.navbar_registration{
    margin-right: 20px;
    padding: 6px 20px;
    border: 2px solid royalblue;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    color: royalblue;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar_logo{
  width: 150px;
}

.navbar_search{
    margin-left: 20px;
    width: 200px;
    margin-top: 0;
    border-radius: 5px;
}